<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthy.appointment.mapper.PatientMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="patient.id">
        INSERT INTO patient (user_id, real_name, gender)
        VALUES (#{patient.userId}, #{patient.realName}, #{patient.gender})
    </insert>

    <select id="findEnabledIdByUserId" resultType="java.lang.Long">
        SELECT id
        FROM patient
        WHERE user_id = #{userId}
          AND status = 1
        LIMIT 1
    </select>
</mapper>
